[2013-10-09 04:36] ellisonleao opened #2 "TODO Shorteners"
I'll leave this issue as a suggestion list of shorteners that must be added in our base class.

Previous requests:

- Ow.ly - #4
- Is.gd #7
- Senta.la #12
- qr.cx #17

[2013-12-05 14:51] ellisonleao opened #9 "Custom timeout kwarg on Shortener class"
Create a timeout argument on Shortener class for preventing possible requests timeout errors

[2014-05-28 22:49] ellisonleao opened #18 "Add building your shortener docs"

[2014-06-10 21:25] ellisonleao opened #19 "New Shortener Class"

[2014-09-25 22:03] ellisonleao opened #20 "Mock tests with HTTPretty"
https://github.com/gabrielfalcao/HTTPretty/

[2015-01-29 14:57] NP-Hardass opened #21 "Tags"
Hello,
I've noticed that you do not have tags for the last 3 versions, and would like to request that the tags be added.
0.2.9 9b5b1a49c9c341a760d78f498dbb8535753cf462
0.2.10 f1efdde6e58d01e64effb310cdfdbea91d272854
0.3 69a49a5ada371f42aafefdf72034b90f28bcde0d

Thank you in advance.

[2015-01-29 15:20] ellisonleao commented on #21
thanks for the remindal! will do it asap

[2015-01-29 15:54] ellisonleao commented on #21
hey @NP-Hardass , the releases are done. Thanks

https://github.com/ellisonleao/pyshorteners/releases

[2015-01-29 15:54] #21 closed

[2015-01-29 15:55] ellisonleao commented on #20
Now we will use [responses](https://github.com/dropbox/responses)

[2015-01-29 15:55] #20 closed

[2015-01-29 15:55] ellisonleao commented on #2
Will open one issue per shortener now.

[2015-01-29 15:55] #2 closed

[2015-01-29 15:55] NP-Hardass commented on #21
Thank you very much again.

[2015-03-26 04:11] NP-Hardass opened #23 "goo.gl now requires OAUTH 2.0 tokens and/or API keys to function and thus is broken"
https://developers.google.com/url-shortener/v1/getting_started

"Every request your application sends to the Google URL Shortener API needs to identify your application to Google. There are two ways to identify your application: using an OAuth 2.0 token (which also authorizes the request) and/or using the application's API key. Here's how to determine which of those options to use:

If the request

[2015-03-26 13:06] ellisonleao commented on #23
Nice, i will make the chances to the older  version since i am working in a new version (1.0) with a completely new design for the shorteners.

Thanks for the feedback!

[2015-06-02 17:03] darvinwcc opened #25 "error in shorteners.py: class BitlyShortener"
In shorteners.py: class BitlyShortener
the code is:
if response.ok:
            data = response.json()
            if 'statusCode' in data and data['statusCode'] == 'OK':
                return data['results'][self.url]['shortUrl']
        raise ShorteningErrorException("There was an error shortening this "
                                       "url")

must be because BitlyShortener' object has n

[2015-06-02 17:09] ellisonleao commented on #25
Thanks for the report @darvinwcc  . I am working on a 1.0 version now, and those errors should be fixed ASAP

[2015-07-21 22:15] #25 closed

[2015-07-22 16:55] #23 closed

[2015-07-22 16:56] ellisonleao commented on #23
@NP-Hardass i've implemented only the api_key param for now, since the oauth requires a effort which is not required for this lib.  Thanks again!

[2015-07-23 00:15] NP-Hardass commented on #23
Terrific. Thank you.

[2015-07-23 14:13] rochacbruno opened #26 "warning: no files found matching 'README.md'"
Small issue, there is a warning on setup, maybe MANIFEST.in is not including README.md in the distribution (maybe because MANIFEST is failing to include README.rst in its first line.

[code]

[2015-07-23 14:13] rochacbruno commented on #26
https://github.com/ellisonleao/pyshorteners/blob/master/MANIFEST.in#L1

[2015-07-23 15:42] ellisonleao commented on #26
Forgot about the Manifest! Thanks @rochacbruno . Did you try to install the current master branch, right?

[2015-07-23 15:49] ellisonleao commented on #26
Fixed on https://github.com/ellisonleao/pyshorteners/commit/617834f466c418b94fb2255c0f8020005c600806

md file added. New version `0.4.2` released

[2015-07-23 15:49] #26 closed

[2015-07-23 16:16] ellisonleao opened #27 "Fix tests"

[2015-07-24 23:17] #27 closed

[2015-07-24 23:18] #19 closed

[2015-07-24 23:19] ellisonleao opened #28 "Fix python3 issues"

[2015-07-25 17:09] ellisonleao commented on #28
Fixed on https://github.com/ellisonleao/pyshorteners/commit/914547131d8cad9e16db0cae0ce5fb3a9b091346 and https://github.com/ellisonleao/pyshorteners/commit/72b021ede1c9ae8d63f55b27d91d7c668abfb3eb

[2015-07-25 17:09] #28 closed

[2015-07-27 15:39] ellisonleao opened #29 "Click reports"
Implement analytics reports on APIs who provides that information.

[2015-07-27 22:13] ellisonleao opened #30 "add logger kwarg"
If enabled, this variable will provide some debugging information when using the lib

[2015-07-28 13:14] miqro opened #31 "Question"
Hey,

I installed pyshorteners via pip, and says it installed fine.. but when i try to import 'from pyshorteners import Shortener' and run the code, i get error:
http://i.imgur.com/UXCtqgq.png

[2015-07-28 15:22] ellisonleao commented on #31
Hey @miqro , that new import is for the `0.5` version which is not on pypi yet.

For now you can use

    from pyshorteners.shorteners import Shortener

[2015-07-28 20:26] ellisonleao commented on #31
Hey @miqro i just updated a new version on pypi. You will need to update it in order to work.

    pip install pyshorteners -U

Please let me know if it goes well

[2015-07-28 20:26] #31 closed

[2015-08-04 01:03] #30 closed

[2015-08-04 23:09] #29 closed

[2015-08-05 23:40] #18 closed

[2015-08-31 18:27] oakkitten commented on #9
@ellisonleao so uh is there a way to provide timeout arguments now?

[2015-08-31 18:39] ellisonleao commented on #9
@oakkitten actually not yet.  I will reopen this one and make the changes. thanks for the reminding.

[2015-09-03 17:38] #9 closed

[2015-09-04 16:57] ellisonleao commented on #9
@oakkitten You can now pass a `timeout` kwarg when instantiating a new `Shortener` class. Example:

[code]

[2015-09-04 23:19] oakkitten commented on #9
great, thanks!

[2015-09-21 11:05] rahiel commented on #31
Hello, I had the same problem with the current version of the package on pypi.
`from pyshorteners import Shortener` gives an `ImportError: cannot import name Shortener` but
`from pyshorteners.shorteners import Shortener` works.

So the examples from the readme are broken.

[2015-09-21 11:20] rahiel opened #32 "ImportError: cannot import name Shortener"
I get an ImportError with the current version on pypi:
`from pyshorteners import Shortener` gives an `ImportError: cannot import name Shortener` but
`from pyshorteners.shorteners import Shortener` works.

So the examples from the readme also don't work now.

[2015-09-21 15:37] ellisonleao commented on #32
Hey @rahiel what version are you using? `pip freeze |  grep pyshorteners`

[2015-09-21 15:46] rahiel commented on #32
Output is: `pyshorteners==0.5.5`

[2015-09-22 09:22] roloyar opened #33 "Can's install using pip"
Hey guys! Tried installing today with "pip install pyshorteners", returned this:

$ pip install pyshorteners
Downloading/unpacking pyshorteners
  Could not find any downloads that satisfy the requirement pyshorteners
Cleaning up...
No distributions at all found for pyshorteners
Storing debug log for failure in /home/******/.pip/pip.log

Did successfully install via downloading and running python s

[2015-09-22 09:30] wangyishuai007 opened #34 "Could not find a version that satisfies the requirement pyshorteners"
**error:**

Collecting pyshorteners==0.5.5
  Getting page https://pypi.python.org/simple/pyshorteners/
  Starting new HTTPS connection (1): pypi.python.org
  "GET /simple/pyshorteners/ HTTP/1.1" 404 28063
  Could not fetch URL https://pypi.python.org/simple/pyshorteners/: 404 Client Error: Not Found - skipping
  1 location(s) to search for versions of pyshorteners:
  \* https://pypi.python.org/sim

[2015-09-22 14:49] ellisonleao commented on #34
Sorry, i've accidentally removed the dist on pypi. Will upload a new one today.

[2015-09-22 14:50] ellisonleao commented on #33
Please read #34

[2015-09-22 14:52] roloyar commented on #33
Oh, got it, thank you!

[2015-09-22 15:14] ellisonleao commented on #32
@rahiel please update to the new version (0.5.6) and try again

[code]

just tested here and it was working

[2015-09-22 15:14] #32 closed

[2015-09-22 15:14] ellisonleao commented on #33
@roloyar just update it. Please try again :)

[2015-09-22 15:14] #33 closed

[2015-09-22 15:15] ellisonleao commented on #34
@wangyishuai007 just updated a new version. Please try again using pip

[2015-09-22 15:15] #34 closed

[2015-09-22 16:55] rahiel commented on #32
It's fixed, thanks!

[2015-10-22 12:57] jodosh opened #35 "go.gl example doesn't work"
I installed pyshortners using pip on windows 10. I can use the tinyURL example just fine, but the go.gl example gives the following output

[code]

my sample code is as follows (replacing [MY_API_KEY] with my actual  "Browser key" from my google developers console from a project that has the google URL shortner api enabled):

[code]

Any ideas what I am doing wrong?

[2015-10-22 22:20] ellisonleao commented on #35
hey  @jodosh , i willl take a look ASAP. Thanks for sharing

[2015-10-27 01:29] jodosh commented on #35
is this a case of PICNIC or did google change their api?

[2015-11-05 17:33] #35 closed

[2015-11-05 17:36] ellisonleao commented on #35
Hey @jodosh the issue was fixed and a new version was released on pypi. Can you please upgrade?

[code]

The issue was with the lib itself and not with google. Thanks again for reporting!

[2015-11-26 11:36] CBickel87 opened #37 "Timeout Argument"
Is there a good way to set a timeout argument? I'm currently using the TinyURL Shortener and I'm running into tinyurl not being able to respond in time. I attempted to set a timeout argument, but it seems to get overridden. The specific exception I'm receiving is below.

HTTPConnectionPool(host='tinyurl.com', port=80): Read timed out. (read timeout=0.5)

I see there is timeout default set in _init

[2015-11-26 14:53] ellisonleao commented on #37
Hey @CBickel87 can you paste your code so i can reproduce it here? also what version are you using?

[2015-11-26 22:16] CBickel87 commented on #37
Certainly - my apologies for not posting it with my initial inquiry.
My code is located below. I'm using Python version 3.5.0

https://github.com/CBickel87/CarScraping/blob/master/scrapeAutoTrader.py

I've noticed if I change the timeout kwargs to a higher value (located in
Python35\Lib\site-packages\pyshorteners\shorteners\ \_init_.py) then the requests to TinyURL seem to have enough time to resp

[2015-12-04 11:15] ZhukovAlexander commented on #37
@CBickel87 , you can pass the `timeout` argument to the `__init__` method. So, changing [this line](https://github.com/ellisonleao/pyshorteners/blob/master/pyshorteners/shorteners/base.py#L22) to this
[code]
will solve your issue.

[2015-12-04 17:41] CBickel87 commented on #37
@ZhukovAlexander , Thank you very much. This was exactly what I was looking for, but I just couldn't figure out where this argument would go. It works well and my curiosity is satisfied.

[2015-12-04 17:54] ellisonleao commented on #37
Yes @CBickel87 , @ZhukovAlexander got exactly what i was going to tell you. Thanks for that! Closing the issue :+1:

[2015-12-04 17:54] #37 closed

[2015-12-22 14:17] greespinal opened #38 "Function short for adfly.py seems to have an issue."
print "My short url is {}".format(shortener.short(url, uid=12107955, api_key='a87a1a49af0783388e67c3da80eb9f17', type='int'))
TypeError: short() got an unexpected keyword argument 'uid'

[2015-12-22 14:33] greespinal commented on #38
Put arguments in shortener variable instead of short() function
shortener = Shortener('AdflyShortener', uid='12107955', key='a87a1a49af0783388e67c3da80eb9f17', type='int')

Result:
My short url is http://adf.ly/1TspsP

[2016-01-14 09:25] jalsco opened #39 "i get bad handshake: Error when i try to run it"
<type 'exceptions.Exception'>

bad handshake: Error([('SSL routines', 'SSL3_GET_SERVER_CERTIFICATE', 'certificate verify failed')],)

Am running on:  python2.7

Just using the example with default (google shortner)  - i.e.

shortener = Shortener('GoogleShortener', api_key=goog_api_key)
 print "My short url is {}".format(shortener.short('http://stackoverflow.com'))

[2016-01-14 09:29] jalsco commented on #39
File "shorter.py", line 10, in <module>
    print "My short url is {}".format(shortener.short(url))
  File "/usr/local/lib/python2.7/dist-packages/pyshorteners/shorteners/__init__.py", line 82, in short
    self.shorten = self._class(**self.kwargs).short(url)
  File "/usr/local/lib/python2.7/dist-packages/pyshorteners/shorteners/googl.py", line 25, in short
    response = self._post(url, data=para

[2016-01-14 09:30] jalsco commented on #39
How to fix that ???  :)

[2016-01-14 09:50] jalsco commented on #39
is there some way to specify:   verify=False     ??   (for the requests module)

[2016-01-14 15:50] ellisonleao commented on #39
hey @jalsco can you show what python version and openSSL are you using?
i've tested your example using

[code]

and  everything went well

[2016-01-14 23:08] jalsco commented on #39
Thank you for your very fast reply :)

Python 2.7.6

 openssl version -a
OpenSSL 1.0.1f 6 Jan 2014
built on: Thu Jun 11 15:28:12 UTC 2015
platform: debian-amd64

[2016-01-15 02:19] jalsco commented on #39
still getting it ...

<type 'exceptions.Exception'> bad handshake: Error([('SSL routines', 'SSL3_GET_SERVER_CERTIFICATE', 'certificate verify failed')],)

when i have seem similar - in the past - I have added this option onto the requests.get call   "verify=certifi.old_where()"   or "verify=certifi.where()" or even "verify=false"

But  in this case it is all wrapped up in Shortener()  so I cannot

[2016-01-15 13:53] ellisonleao commented on #39
Yeah, i've searched for this verify param, however i still think it's a openssl version issue. Can you try to upgrade it along with your python version (2.7.10) and try again, please?

[2016-01-15 22:03] jalsco commented on #39
I can't upgrade the server to 2.7.10 because there are many Python systems that run on it - in production -- this new functionality in one system - cannot dictate such a massive change in server environment. I believe there are items in several of those systems that will not run fully on 2.7.10 without some major updating.. OpenSSL is on the latest supported level for my Ubuntu 14.04

[2016-01-15 22:18] jalsco commented on #39
Could you possibly add (optional) the verify= param to Shortener() - and then pass thru, to the requests module, whatever "verify=" was entered on Shortener() .. I am just shortening a URL with Google . It is not sensitive or secure info . I my case I will be happy using verify=false  but I will try the other verify= options first.

[2016-01-15 22:28] jalsco commented on #39
Sorry I closed it by mistake

[2016-01-16 00:41] ellisonleao commented on #39
hey @jalsco can you try test with the latest code? I haven't added it on pip yet, so you will need to test locally for now. If your test goes ok, please let me know and i will update the version

[code]

Make sure you are using `0.5.9` version

[code]

[2016-01-16 00:56] jalsco commented on #39
ok - try it

[2016-01-16 01:25] jalsco commented on #39
ok i tried - YES it works :)  it gets past the SSL handshake problem :))

Some other comments:
1. I tried like you said but  I could  not get the __version__ part to work , so I just commented that out , and tried it anyway .. I was getting  "   from pyshorteners import __version___
  ImportError: cannot import name __version___  "   --  It is probably something I did wrong .

2.   I run the code

[2016-01-16 01:54] jalsco commented on #39
i fixed my - api key - enabled shorten-url - in google console - and now it is working perfectly by using verify=False   :) :)

[2016-01-16 01:54] jalsco commented on #39
http://goo.gl/FvOM

[2016-01-16 01:59] ellisonleao commented on #39
Nice! Closing then

[2016-01-16 01:59] #39 closed

[2016-03-24 20:25] ellisonleao opened #40 "add wp-a.co integration"
website: http://wp-a.co

API: `http://wp-a.co/api/?url={{LINK}}&customshort={{CUSTOM ALIAS}}&method={{'http' or 'json''}}`

[2016-03-24 20:26] vmesel commented on #40
Thanks @ellisonleao !

[2016-03-25 00:34] ellisonleao commented on #40
wp-a.co was added on `pyshorteners==0.6.0` You can update it now.

[2016-03-25 00:34] #40 closed

[2016-03-26 10:50] rakhi27 opened #41 "issue with Qr.cx Shortener"
it shows Qr.cx api is closed. is there any alternative for that?

[2016-03-28 02:05] ellisonleao commented on #41
Hey @rakhi27 , thanks for letting me know. I believe you need to change to another shortener api, maybe Tinyurl. I will remove Qr.cx now.

[2016-04-08 15:50] #41 closed

[2016-08-18 20:26] Oire opened #45 "List of all supported shorteners"
I'm very impressed by this library, thanks @ellisonleao! However, I would like to have a possibility to get a list of all supported URL shorteners to output it to my app, so a user could easily select a shortener he/she wants.

[2016-08-18 21:00] ellisonleao commented on #45
There is a way right now, but its not that straightforward.

[code]

[2017-01-11 01:06] #45 closed

[2017-03-09 16:27] ellisonleao opened #47 "Think a better way of calling the shorterners"

[2017-04-22 03:10] ellisonleao opened #49 "move to python 3 and drop python 2 support"

[2017-07-18 17:49] MrBillium opened #52 "Making Python3 certificate verification work using PoolManager"
Running Python 3.4  & goo.gl and  was only able to get the sample going with Verify=False
The output warning had a helpful link in it
_Adding certificate verification is strongly advised. See:_
https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings

The linked page shows me how to enable checks with  a poolmanager:

`http = urllib3.PoolManager(
    cert_reqs='CERT_REQUIRED', # F

[2017-07-18 20:39] ellisonleao commented on #52
Thanks for the heads up @MrBillium . I am planning to move the code to python3 only, but due my work, that could take some time. But i am taking this issue as priority for when things start.

[2017-07-27 21:40] kodeine opened #53 "custom url for goo.gl etc"
Is it possible to assign a custom short url? like ability to pass a string so it shortens as goo.gl/custom ?

[2017-07-30 13:30] pouya-barzegar commented on #38
it still does'nt work for me.
i get an error for this code:

....
    raise TypeError('Please input the key and uid value')
TypeError: Please input the key and uid value

and when pass api_key and uid to the short() method, it says it doesn't support that. :disappointed:

[2017-10-28 13:50] allentv commented on #53
Don't think that is possible.

[2017-10-31 14:43] liminspace opened #54 "Put the compiled regex out of the function"
Hi!
Make some optimization around the compiled regex in file `pyshorteners/pyshorteners/utils.py`.
Just put the `regex` out of the `is_valid_url` function. The regex is static so we don't have to compile it every time when we call the function.
Good luck.

[2018-01-20 08:16] SillySam opened #55 "Senta.la is not a functional URL shortener service anymore"
The website domain "Senta.la" (aka 'Sentala') appears to be unregistered and should be removed as currently when used it outputs HTML garbage and could be a security threat.

[2018-01-20 08:50] SillySam commented on #55
This issue has been addressed in [pull request #58 ](https://github.com/ellisonleao/pyshorteners/pull/58)

[2018-01-20 17:42] #55 closed

[2018-01-21 02:20] SillySam opened #60 "'Readability' shortener not functional"
The Readability service is not functional and appears to have stopped permanently, read more [here](https://readability.com/developers/api/shortener).

The Readability service should be removed from the project and replaced with another alternative.
(If the service still works and stays in the project the spelling of "Read**a**bility" should be corrected in the documentation)

[2018-01-21 02:28] SillySam opened #61 "[Enhancement] Needs more URL shortening services"
With some URL shortening services shutting down, there is a need for more functional shortening services within the project.

To get started:
- Research services that have a get/post request API
- Check the [documentation](https://github.com/ellisonleao/pyshorteners#creating-your-own-shortener) to incorporate your new service

[2018-02-02 08:21] SillySam commented on #53
Unfortunately, It is not possible to do this at the moment.

[2018-02-02 15:05] #53 closed

[2018-02-10 06:36] 0xicl33n commented on #38
I  figured it out after reading the code in adfly.py in this repo. I have made it work @pouya-barzegar

Here

[code]

[2018-03-06 18:49] sdushantha commented on #61
Should we add the git.io shortener?

[2018-03-06 19:00] SillySam commented on #61
Sure thing! It looks quite nice.

[2018-03-06 19:11] sdushantha commented on #61
If you take a look at this [repo](https://github.com/sdushantha/gitio) , you could use that method. Right?

[2018-03-29 23:27] SillySam commented on #61
It looks pretty good, go at it!

[2018-06-22 09:19] Pechi77 opened #63 "issue"
I cannot create an instance with '## Qr.cx Shortener'

code:

[code]

[2018-06-22 18:20] ellisonleao commented on #63
hey @Pechi77 , qr.cx shortener is not accepting new requests. I will remove this from the docs.

[2018-06-23 00:55] Pechi77 commented on #63
Okay, which method will work fine without API tokens

Thanks,
Pechimuthu

On Fri, 22 Jun 2018, 11:50 p.m. Ellison Leão, <notifications@github.com>
wrote:

[2018-06-24 09:35] Pechi77 commented on #63
I am getting error for Tinyurl and Isgd, `ReadTimeout: HTTPSConnectionPool(host='is.gd', port=443): Read timed out. (read timeout=0.5)`

[2018-06-25 16:29] ellisonleao commented on #63
@Pechi77 can you provide a full snippet with the code you are trying to?

[2018-06-25 17:10] Pechi77 commented on #63
[code]

[2018-06-27 06:58] Pechi77 commented on #63
any update?

[2018-06-29 09:36] Doezer opened #64 "Remove or update RTD site"
The RTD site has wrong instructions and is pretty high in google results
https://readthedocs.org/projects/pyshorteners/

[2018-06-29 16:43] ellisonleao commented on #64
hey @Doezer thanks for raising this! will update it ASAP

[2018-06-29 17:03] ellisonleao commented on #64
Just removed the RTD entry. The docs will live only on http://ellisonleao.github.io/pyshorteners/ now.

[2018-06-29 17:03] #64 closed

[2018-07-01 18:03] Doezer opened #65 "Bitly shortener does not return shortened link if it already exists"
Hello

I used goo.gl shortener before and didn't have the problem (switched since it's deprecated now). I use bitly but when the script tries shortening an already shortened once URL, it returns an exception without the shortened link.
I have this exception:
[code]

Which is fine to be raised really, but does it mean I cannot get the link anyway?

edit: seems it's possible to lookup the link with

[2018-07-05 22:12] ellisonleao commented on #63
hey @Pechi77 sorry for the late reply, are you behind some proxy connection? looks like the connection to the host is failing due to the short default timeout (which is only 0.5 seconds).

Can you also provide the full code snippet, without the error?

[2018-07-09 13:39] Doezer commented on #65
I don't want to seem impatient @ellisonleao, could it be possible to review my addition?
Thank you

[2018-07-09 20:57] ellisonleao commented on #63
@Pechi77 i was able to reproduce the error here. Until i send the fix, you can use:

[code]

[2018-07-09 20:57] #63 closed

[2018-07-09 22:09] #65 closed

[2018-07-19 20:07] ellisonleao commented on #60
Removed on 1.0

[2018-07-19 20:07] #60 closed

[2018-07-19 22:16] ellisonleao commented on #49
@MrCsabaToth yes!

[2018-07-20 06:59] hidalgopl commented on #61
Cool! If I can help with anything, just give me a shout!

[2018-07-20 17:58] ellisonleao commented on #52
Just added a `verify` flag on the current 1.0 version which will go live shortly. Please look out for the docs when its available. Thanks

[2018-07-20 17:58] #52 closed

[2018-07-20 17:59] ellisonleao commented on #54
Done in 1.0

[2018-07-20 17:59] #54 closed

[2018-07-20 21:23] ellisonleao commented on #38
Fixed on 1.0. Make sure to read the docs when it comes available.

[2018-07-20 21:23] #38 closed

[2018-07-21 20:03] ellisonleao commented on #49
Done in 1.0

[2018-07-21 20:03] #49 closed

[2018-07-21 20:03] ellisonleao commented on #47
Done in 1.0

[2018-07-21 20:03] #47 closed

[2018-07-21 20:04] MrCsabaToth commented on #49
Ouchie!

[2018-07-22 06:07] ellisonleao opened #70 "Update docs"
New docs are now being written using Sphinx. You can already check the latest changes [here](http://pyshorteners.readthedocs.io/en/latest/)

We still need to add:

- [ ] add docs for each shortener on how to use them (single file per shortener)
- [ ]  add  docstrings on all shortener classes and methods using [Google Style Guide](https://github.com/google/styleguide/blob/gh-pages/pyguide.md#38-com

[2018-07-22 06:08] ellisonleao commented on #61
@hidalgopl thanks! Would be good to know any new APIs that can be added. If you have any suggestions i am all ears

[2018-07-22 06:09] ellisonleao commented on #61
@SillySam do you have new  APIs suggestions ?

[2018-08-04 22:48] SillySam commented on #61
@ellisonleao haven't been very active recently sorry. I haven't been on the search recently but you may be able to find something.

[2018-11-18 17:01] wilddeej opened #100 "Updates needed to PyPI"
**Describe the bug**
The PyPI version of this most excellent package is over a year out-of-date

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://pypi.org/project/pyshorteners/'
2. Examine the version and date information
3. Compare with this project's latest date/version
4. Notice the large discrepancy

**Expected behavior**
The PyPI version should more closely track the source

[2018-11-19 00:48] ellisonleao commented on #100
sorry about that @wilddeej , the version 1.0 is still under development, that's why i haven't updated the package. I will have plans to do this really soon.

[2018-11-19 00:48] #100 closed

[2018-12-04 15:39] wilddeej opened #102 "Add Docker container support"
**Is your feature request related to a problem? Please describe.**
No, not a problem, I'd just like the ability to use pyshorteners as a micro-service (removing the need to install/update it on my computer - I can still take advantage of pyshorteners' facilities via the micro-service).

**Describe the solution you'd like**
I think a Docker container would provide a good solution, as this would be

[2018-12-04 15:40] wilddeej commented on #102
I am also volunteering to implement this feature, by the way.

[2018-12-04 22:31] wilddeej opened #104 "Add support for YOURLS shortener"
**Is your feature request related to a problem? Please describe.**
No problemo.  Well, unless you consider that pyshorteners does not currently support YOURLS.  More information on YOURLS can be found at [https://yourls.org](url)

**Describe the solution you'd like**
Implement the YOURLS shortener solution.  The Python API for YOURLS is available at  [https://github.com/tflink/python-yourls](url)

[2018-12-05 15:54] ellisonleao commented on #104
Thanks for the suggestion @wilddeej . Will implement it soon!

[2018-12-05 22:59] wilddeej commented on #102
Retracted - not generally useful as originally believed.

[2018-12-05 22:59] #102 closed

[2019-02-05 00:51] #104 closed

[2019-02-25 12:53] subutux opened #117 "module 'pyshorteners' has no attribute 'Shortener'"
**Describe the bug**
While running the example code, I get:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. sudo pip3 install pyshorteners
2. sudo pip3 freeze | grep pyshorteners

3. exec 'python3' & run the example code
[code]

**Expected behavior**
Able to use the Shortener class

**Desktop (please complete the following information):**
 - OS: Linux Fedora 29, Python 3.7.2

[2019-03-06 22:44] alifhughes commented on #117
I am also getting the same thing with the same version of Python

[2019-03-08 19:16] ellisonleao commented on #117
Sorry guys, latest version is not yet on pypi and current doc is only for the version here on github. For previous versions you can use:

[code]

For `NameOfTheShortener` there is an old list, where you can get from the `Shorteners` class enum names. To get the list of names you can use, type:

[code]

Sorry about the mess, i am trying to simplify the api on the 1.0 version which is coming soon

[2019-03-12 16:23] shardede commented on #117
I have the code:

[code]
I am getting the error:

`AttributeError: 'Shortener' object has no attribute 'tinyurl'`

I don't have the problem when running from my windows PC, but only when I run on the cloud (pythonanywhere). But I have installed the module; when I use the code you provide above, I get the output:

`['Shorteners.ADFLY', 'Shorteners.AWSM', 'Shorteners.BITLY', 'Shorteners.CHILPIT', 'S

[2019-03-12 17:08] ellisonleao commented on #117
@shardede you are trying to use the new API with the old version. Can you try the steps i've tried and let me know how did it go?

[2019-03-12 17:12] ellisonleao commented on #117
@shardede can you change

[code]

to

[code]

[2019-03-12 17:14] shardede commented on #117
Perfect! Thank you so much!

[2019-03-12 17:20] ellisonleao commented on #117
Closing this issue. If we have more questions feel free to ask in another one. Thanks!

[2019-03-12 17:20] #117 closed

[2019-03-25 23:43] acujl opened #121 "Simple example error..."
My code:
[code]
Error:
[code]

[2019-03-29 11:02] drkostas commented on #121
Can confirm

[2019-03-29 15:23] ellisonleao commented on #121
hey @drkostas @acujl sorry about that.  You are using a version which is not on pypi yet and i will assume that you've tried to install the lib using `pip`, that's why the code is not working.

For old versions you should try:

[code]

[2019-04-02 12:56] #121 closed

[2019-04-02 13:00] drkostas commented on #121
This works fine, thanks

[2019-05-05 09:13] mark-schulze opened #125 "bit.ly API v4"
**Is your feature request related to a problem? Please describe.**
The bit.ly API v3 will be closed down in 2020, so it would be great to have a future proof solution.

**Describe the solution you'd like**
Especially the authentication has been changed in v4, an api_key has been deprecated and now auth is done via a bearer access_token, which has to be sent in the header with every request.
Would

[2019-05-06 00:49] ellisonleao commented on #125
Will include that in the new 1.0 version which is coming up. Thanks for reporting!

[2019-05-06 20:34] mark-schulze commented on #125
ok

[2019-05-06 20:34] #125 closed

[2019-07-30 11:41] JJ opened #126 "Apparently, bitly attribute does not exist"
**Describe the bug**

This error when trying to use bit.ly:

[code]
A clear and concise description of what the bug is.

**To Reproduce**

pyshorteners downloaded with pip, python version 3

[2019-07-30 16:36] ellisonleao commented on #126
hey @JJ  how did you install the project? The current master branch is not on pypi yet.

[2019-07-30 16:42] JJ commented on #126
just put it into a requirement file and use pip

El mar., 30 jul. 2019 a las 18:36, Ellison Leão (<notifications@github.com>)
escribió:

--
JJ

[2019-07-30 16:51] ellisonleao commented on #126
yeah, so you are probably using an old version of the project. Please check [this comment](https://github.com/ellisonleao/pyshorteners/issues/121#issuecomment-478038394) on how to proper create the object

[2019-07-30 16:55] JJ commented on #126
OK. Thanks.

[2019-07-30 17:01] #126 closed

[2019-08-07 03:33] #70 closed

[2019-08-31 01:13] rkagin opened #127 "Update bitly shortener to API v4 and add extra queries"
I'm interested in contributing to the pyshorteners library, specifically improving the bitly shortener class.  There were two things I wanted to do:

* Update the class to use the v4 API since v3 will be deprecated in March 2020
* Include additional features to the class such as getting referrer metrics and getting link click dates

It does not appear that anyone is working on this aspect and I wo

[2019-09-25 18:11] ellisonleao opened #128 "Add pre-commit hooks"
For now we need:

- pylint
- black formatter

Also, we need to update README file to show to use those for local development

Check how to add pre-commits [here](https://pre-commit.com/#plugins)

[2019-09-26 14:20] armonge commented on #128
working on it :+1:

[2019-09-26 14:25] armonge commented on #128
working on this

[2019-10-01 04:09] alexsolanki commented on #128
@ellisonleao I can work on this if @armonge is not able to.

[2019-10-01 04:10] alexsolanki commented on #128
@ellisonleao I can work on this if @armonge is not able to.

[2019-10-06 17:43] nachiketdhamankar commented on #127
Have you started working on this? Need a hand?

[2019-10-07 17:15] #128 closed

[2019-10-07 17:19] ellisonleao commented on #127
not yet @nachiketdhamankar , feel free to it

[2019-10-08 12:44] rkagin opened #133 "Update base shortener to accept proxy settings"
`_get()` and `_post()` both use the `requests` library which accept `proxy` as a paramater.  Could we update `base.py` to allow for the optional parameter to be passed to these functions?

I'll volunteer to do the work if you want.

[2019-10-08 18:41] ellisonleao opened #134 "Switch from travis to Github Actions"

[2019-10-09 21:21] eutampieri commented on #127
@nachiketdhamankar have you started working on this?

[2019-10-10 01:37] rkagin commented on #127
This is currently being worked via https://github.com/ellisonleao/pyshorteners/pull/131 by @jan200101.

[2019-10-12 16:46] Evalle commented on #134
Hi, I can take a look at this one. I have some experience with Travis and I want to learn more about GitHub Actions.

[2019-10-16 12:51] #133 closed

[2019-10-17 18:47] ellisonleao opened #136 "Create Dockerfile"

[2019-10-17 18:52] #136 closed

[2019-10-17 19:07] #134 closed

[2019-10-17 19:09] ellisonleao opened #137 "Docs update for 1.0"
Current docs are outdated and doesn't have all the features included as well. We must update it with the current shorteners implementations together with some examples as well.

[2019-10-17 19:09] #61 closed

[2019-10-17 20:47] lkbhitesh07 commented on #137
@ellisonleao hello, I want to give it a shot but I'm totally a new contributor, already read the contribution guides and etc, I'm confused like specifically in which file I should add the docstring, will you please guide me, it'll be a great help

[2019-10-18 08:56] e4r7hbug commented on #137
I've previously used `sphinx-apidoc` to generate more [autodoc](https://www.sphinx-doc.org/en/master/usage/quickstart.html#autodoc) blocks, [Foremast docs example](https://github.com/foremast/foremast/blob/6fa5b724ff48bda81db968d73ebc242e1823948c/_docs/conf.py#L359). I would suggest finding a way to run this before `make html`, which is why I put it in `docs/conf.py` previously.

[code]

I could s

[2019-10-18 14:19] ellisonleao commented on #137
Agreed @e4r7hbug , the documentation part is a big project itself. We can use this issue to track the changes. I had some issues on getting the docstring to work with the Google docstring style, the one we are currently using. Currently the code uses the [napoleon extension](https://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html) to get those changes.

[2019-10-18 18:27] e4r7hbug commented on #137
Ah, I'm familiar with Google Style and Napoleon. I can help look at some of those.

@lkbhitesh07: Would you like to start with fixing up the way PyPI renders the **Project description**? I'm not sure how familiar you are with Python packaging, Markdown, or reStructuredText. I think that's the easiest and you can use https://test.pypi.org/ to validate. https://packaging.python.org/guides/using-test

[2019-10-23 02:39] e4r7hbug commented on #137
@lkbhitesh07: Are you able to help with updating the other Shortener docstrings?

[2019-10-23 08:31] lkbhitesh07 commented on #137
@e4r7hbug Sorry i'm not sure about it, because i'm totally new to open source, will you please elaborate it'll be a help.

[2019-10-24 23:32] e4r7hbug commented on #137
For the `Shorteners`, it looks like there are still a bunch to review and update in https://github.com/ellisonleao/pyshorteners/tree/master/pyshorteners/shorteners. The docstrings need to look more like https://github.com/ellisonleao/pyshorteners/blob/master/pyshorteners/shorteners/adfly.py. The Class and Method descriptions need to be updated along with Argument and Keyword Argument descriptions.

[2019-12-01 20:36] marcelomaia opened #145 "Invalid URL fails in specific case"
**Describe the bug**
function is_valid_url() located in pyshorteners/utils.py fails on this url:
- https://www.shoptime.com.br/produto/7521216/geladeira-refrigerador-electrolux-frost-free-dw42x-380l-inox?DCSext.recom=RR_category_page.rr2-PersonalizedViewedPurchaseInCategory&nm_origem=rec_category_page.rr2-PersonalizedViewedPurchaseInCategory&nm_ranking_rec=4&voltagem=110 volts&opn=AFLSHOP&epar=b2w

[2020-01-14 11:25] crablab opened #146 "Update on PyPi"
:wave:

I've seen a few issues related to the version on PyPi being different from the current code and documentation.

Is there any progress on getting PyPi updated? Is there anything I can do to help with this? :blush:

[2020-01-14 17:04] ellisonleao commented on #146
hey @crablab ! Yeah, current pypi version is outdated and i am still working on the 1.0 version.  There is a [milestone](https://github.com/ellisonleao/pyshorteners/milestone/6) with the remaining tasks to get launched. If you want , you can grab any of those. Any help is very appreciated!

[2020-01-14 17:05] ellisonleao commented on #145
hey @marcelomaia sorry for the late reply. I will get that fixed in 1.0

[2020-02-22 22:12] muhammedfurkan opened #147 "shorten site request"
**Additional context**
Need to `https://tr.link/` support.

[2020-02-27 02:12] ellisonleao commented on #147
hey @muhammedfurkan do you have any docs for their api?

[2020-02-27 06:29] muhammedfurkan commented on #147
yes here https://tr.link/member/tools/api#

[2020-02-27 20:01] timgates42 opened #148 "Fix simple typo: shortner -> shortener"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine pyshorteners/shorteners/owly.py, pyshorteners/shorteners/shortcm.py.
2. Search for `shortner`.

# Expected Behaviour

1. Should read `shortener`.

[2020-02-27 22:29] #137 closed

[2020-02-27 22:30] #148 closed

[2020-02-29 06:28] #146 closed

[2020-03-01 03:12] ellisonleao commented on #145
@marcelomaia 1.0 was just released, i've tested that url and got no errors, can you try on your side?

[2020-03-01 21:09] #127 closed

[2020-03-01 21:09] ellisonleao commented on #146
@crablab 1.0 is out! make sure to update it on your side

[2020-03-01 21:10] #145 closed

[2020-03-01 23:54] crablab commented on #146
Apologies I didn't see the previous comment about the milestones 😭 Would have loved to help.

But amazing news - thanks for your hard work 🤗

[2020-03-18 13:10] bahmangm opened #150 "An error in pyshorteners/shorteners/cuttly.py, line 48, in short method"
**Describe the bug**
When you try to shorten a url in python, you are faced with this message: KeyError: 'status'

**To Reproduce**
Steps to reproduce the behavior:
1. import pyshorteners
2. s = pyshorteners.Shortener(api_key = 'your_key')
3. short = s.cuttly.short('long_url')

**Expected behavior**
We expect to get a new short url that is supposed to be produced

**Desktop (please complete the fo

[2020-03-19 17:56] #150 closed

[2020-03-23 17:55] rkagin opened #152 "Enable client-side certs"
Currently there's no ability to pass a client cert to the request (https://requests.readthedocs.io/en/master/user/advanced/#client-side-certificates).  Could this be updated in the following locations?:

https://github.com/ellisonleao/pyshorteners/blob/918c9569ba9b9fef71e452d2d3af28d21665a5b3/pyshorteners/base.py#L95-L104

https://github.com/ellisonleao/pyshorteners/blob/918c9569ba9b9fef71e452d2d3

[2020-03-23 18:34] ellisonleao commented on #152
Sure @rkagin , feel free to send a PR and i will be happy to merge it :)

[2020-03-23 18:38] rkagin commented on #152
I just attempted it in #153.

[2020-03-23 18:45] #152 closed

[2020-04-30 21:31] ellisonleao opened #154 "Add https://skip.gg/"
https://skip.gg/user/tools

[2020-05-15 07:08] SumedhaZestl commented on #117
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/sumedha/.local/lib/python2.7/site-packages/pyshorteners/shorteners/__init__.py", line 115, in short
    self.shorten = self._class(**self.kwargs).short(url)
  File "/home/sumedha/.local/lib/python2.7/site-packages/pyshorteners/shorteners/tinyurl.py", line 13, in short
    response = self._get(self.api_url, param

[2020-07-09 13:34] chwba opened #155 "Question: Ability to use a random shortener already implemented somewhere?"
If so, where do I find it?
Figured it out:
[code]

[2020-07-09 17:51] ellisonleao opened #156 "Add type hints"

[2020-07-09 20:13] ellisonleao commented on #155
Do you have any context so i can get what you are trying to do?

[2020-07-11 13:49] chwba commented on #155
In fact I wanted to select a random (free) shortener, you could add a .random to your __init__.py for this, maybe Ill do another PR in addition to the one I already made :D

[2020-07-29 05:23] #147 closed

[2020-07-29 05:23] #154 closed

[2020-09-07 18:51] #155 closed

[2021-01-05 22:21] #156 closed

[2021-01-18 05:22] astrochun opened #158 "Support for new v2.0 API of TinyURL"
**Is your feature request related to a problem? Please describe.**
First, this has been a great codebase, which I hope to use more.

I recently learned that TinyURL has been rolling out a new API, which works with TinyURL accounts and seems to have greater capability, such as:
1. Bearer token for URL creation associated with one's account
2. Ability to change an alias
3. Support for custom domains

[2021-01-19 00:05] astrochun commented on #158
If you want me to do a code review and testing after you're done, let me know 😄

[2021-03-03 21:31] DefNotAvg opened #159 "AttributeError: module 'pyshorteners' has no attribute 'exceptions'"
**Describe the bug**
`AttributeError: module 'pyshorteners' has no attribute 'exceptions'` occurs when trying to catch a ShorteningErrorException

**To Reproduce**
Steps to reproduce the behavior:
1. Use `except pyshorteners.exceptions.ShorteningErrorException:` to catch a ShorteningErrorException

**Expected behavior**
The above line of code should catch ShorteningErrorExceptions

**Additional co

[2021-03-03 22:33] #159 closed

[2021-03-09 23:58] BrunoTeixeira1996 opened #160 "Bug using NullPointer"
**Describe the bug**
When using NullPointer i got exceptions

**To Reproduce**
Steps to reproduce the behavior:
1. use NullPointer

**Expected behavior**
Get a NullPointer shortenLInk

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.

[2021-05-16 17:47] #160 closed

[2021-06-25 01:28] mauro199304 commented on #38
is it possible to update the short url?  what parameters to use?

[2021-07-25 10:36] #158 closed

[2021-08-06 20:02] carlosgnet opened #162 "Tiny.cc shortener fails with exception"
**Describe the bug**
Calling the Tiny.cc shortener method as per https://pyshorteners.readthedocs.io/en/latest/apis.html#tiny-cc returns an exception. I have tried the api_key and user using Postman and they work correctly.

**To Reproduce**
[code]

**Expected behavior**
200 OK

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version 18.04
 - Python: 3.6.9

[2021-11-07 17:53] ransomsumit opened #163 "chilp.it shortener fails with ExpandingErrorException"
**Describe the bug**
Discovered this bug for a specific website "http://chilp.it/ba59523", it works well in browser but gives error on expanding

**To Reproduce**

'http://chilp.it/ba59523'

Traceback (most recent call last):
  File "<pyshell#4>", line 1, in <module>
    s.chilpit.expand('http://chilp.it/ba59523')
  File "C:\python39\lib\site-packages\pyshorteners\base.py", line 135, in expand

[2021-11-07 17:56] ransomsumit commented on #163
Indent

[2021-12-06 18:11] carlosgnet commented on #162
Any update on this? Do you need more information or some logs? Thanks.

[2021-12-14 23:41] QuartzWarrior opened #165 "Every shortener has been giving me this error: Command raised an exception: InvalidURL: Failed to parse:"
**Describe the bug**
Command raised an exception: InvalidURL: Failed to parse: https://da.gd/shorten
Command raised an exception: InvalidURL: Failed to parse: https://da.gd/shorten
Command raised an exception: InvalidURL: Failed to parse: http://chilp.it/api.php
Command raised an exception: InvalidURL: Failed to parse: http://tinyurl.com/api-create.php

**To Reproduce**
Steps to reproduce the beha

[2022-01-05 23:41] dpieski opened #166 "pyshorteners not working with pyinstaller"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
This is a selected segment that is reproduceable for the error I am getting.
In the `test.py` file:
[code]

when running `python test.py`, I get this output:
[code]

I then run `pyinstaller -F test.py` and when I run the `test.exe` file, I get:
[code]

**Expected behavior**
A clear and concise description of

[2022-01-08 14:50] ellisonleao commented on #166
hey @dpieski i don´t know what pyinstaller is. Can you provide more context on that?

[2022-01-12 22:52] dpieski commented on #166
It takes in a python file and produces a Windows executable.
I am guessing there is something wrong with how `pyinstaller` maps out imports when you import pyshorteners.
I ended up just writing my own functions to get the shortened URL and not using pyshorteners since it was faster than trying to figure this out.

If you want to close, feel free.

[2022-01-13 13:27] #166 closed

[2022-03-11 20:55] Mohammad2002-web commented on #117
2 days and I still try to solve this problem

Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "shortUrl.py", line 60, in <lambda>
  File "shortUrl.py", line 4, in short_url
  File "pyshorteners\__init__.py", line 32, in __init__
  File "importlib\__init__.py", line 127, in import_module
  File "<frozen importlib._bootstra

[2022-03-11 21:18] Mohammad2002-web commented on #121
It does not work for me
I have this problem here

TypeError: exceptions must derive from BaseException
Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "shortUrl.py", line 61, in <lambda>
  File "shortUrl.py", line 5, in short_url
  File "pyshorteners\__init__.py", line 39, in __getattr__
AttributeError: 'Shortener' object

[2022-03-20 17:16] #163 closed

[2022-04-16 14:26] #162 closed

[2022-04-22 18:43] QuartzWarrior commented on #165
Fixed

[2022-04-22 18:43] #165 closed

[2022-05-10 15:54] saptarshi78 opened #167 "Can you please help me to make my own telegram bot for my own linkshortner website?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-24 03:04] saptarshi78 opened #171 "Which package?"
In which package i need to insert my link shortner website? Please tell me the exact location! If available please send me step by step video! I will be always thankful to you for this help! Thanks

[2022-05-24 03:54] saptarshi78 opened #172 "Unable to deploy it on heruko"
Hi I have my own link shortner website but i am unable to deploy it on heruko ! Can you please help me out with this matter? Also tell me how can I add my website at directory? If possible please sent me a screen recording! For this i will always thankful to you! Thanks instagram saptarshisingh78

[2022-05-24 03:57] saptarshi78 commented on #171
![Uploading Screenshot_2022-05-24-09-26-46-277_com.android.chrome.jpg…]()

[2022-05-24 03:57] saptarshi78 commented on #171
Please tell me steps by step.thanks

[2022-05-24 03:58] saptarshi78 commented on #171
Please help me with video guide.

[2022-05-27 14:25] saptarshi78 opened #173 "Not working"
See it's not working! Please help me out with this! Thanks
![Screenshot_2022-05-27-19-53-10-309_com android chrome](https://user-images.githubusercontent.com/86549125/170718932-d42c18e3-167e-424c-9804-bacecc941c56.jpg)

[2022-06-06 19:19] #167 closed

[2022-06-06 19:19] #171 closed

[2022-06-06 19:19] #172 closed

[2022-06-06 19:19] #173 closed